html {
  cursor:none;
  height: 100%;
  width: 100%;
}
body {
  position: absolute;
  -moz-transform-origin: 0 0;
  zoom: 0.85;
  -moz-transform: scale(0.85);
}
#app {
  margin-left: 10px;
  margin-top: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  .buttons {
    text-align: center;
    font-size: 25px;

    a {
     &:hover, &:active {
       cursor:none !important;
     }
    }
  }
}