.react-credit-card__back {

  &::before, .react-credit-card__cvc, .react-credit-card__shiny, .react-credit-card__bar {
    display: none;
  }

  img {
    height: 200px;
  }

  position: absolute;
  .alert-wrapper {
    position: relative;
    left: 260px;
    bottom: 140px;

    i {
      font-size: 23px;
    }
  }

  .alert-inner {
    position: relative;
    left: -30px;
    top: 15px;
  }
}