.paypal {
  .react-credit-card__front, .react-credit-card__back {
    background: #009cde;

    div {
      color: #003087;
    }

    .react-credit-card__logo {
      width: 100px;
      height: 25px;
      border: 0;
      background-size: 100px 25px;
      background-image: url(../images/paypal_logo.png);
    }
  }
}